#upgrade-browser {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 256;
}

#header {
	overflow: hidden;
	padding: 20px 0;
	/* position: absolute; */
	top: 0;
	z-index: 4;
}

#content {
	position: relative;
}

#content #slogan {
	position: absolute;
	top: 300px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 128;
}
#content #welcome{
	background-image: url(../../img/welcome.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	margin-bottom: 10px;
}
#content #sidebar div.widget {
	background-color: #fff;
	border-top: 4px solid #ff0000;
	margin-bottom: 20px;
	padding: 10px;
	/* 阴影 浏览器前缀 */
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	        box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#content #sidebar #bulletin-board.widget ul {
	margin: 0 0 10px;
	padding-left: 10px;
}

#content #sidebar #bulletin-board.widget li {
	height: 20px;
	list-style-position:inside;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#content #sidebar #bulletin-board.widget li > a {
	margin-left: -10px;
}

#content #sidebar #bulletin-board.widget span.message-create-time {
	float: right;
}

#bulletin-board-message-modal {
	top: 15%;
	width: 400px;
    margin-left: -200px;
}

#bulletin-board-message-modal div.modal-header {
	background-color: #f2f2f2;
	height: 30px;
	text-align: center;
	-webkit-border-radius: 6px 6px 0 0;
	   -moz-border-radius: 6px 6px 0 0;
	        border-radius: 6px 6px 0 0;
}

#bulletin-board-message-modal div.modal-header i.fa {
	color: #fff;
	font-size: 80px;
	margin-top: 25px;
}

#bulletin-board-message-modal div.modal-body {
	line-height: 120%;
}
/* 响应式布局 */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#bulletin-board-message-modal {
		margin: 0 auto;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}